<div class="container">
  <form action="#">
    <div class="form-group">
      <label for="txtnome">Task</label>
      <input
        type="text"
        name="txtNome"
        id="txtNome"
        placeholder="Digite o nome da tarefa"
        [formControl]="nome"
      />

      <label for="txtdesc">Descrição</label>
      <input
        type="text"
        name="txtDesc"
        id="txtDesc"
        placeholder="Digite a descrição da tarefa"
        [formControl]="descricao"
      />

      <label for="txtresp">Responsável</label>
      <input
        type="text"
        name="txtResp"
        id="txtResp"
        placeholder="Digite o responsável da tarefa"
        [formControl]="responsavel"
      />

      <label for="txtInicio">Data Início</label>
      <input type="date" name="txtInicio" id="txtInicio" />

      <label for="txtFim">Data Término</label>
      <input type="date" name="txtFim" id="txtFim" />

      <div class="button2"></div>
        <div class="button">
            <button>Cancelar</button>
            <button (click)="cadastrar()">Cadastrar</button>
        </div>

    </div>
  </form>
</div>
