body {
    margin: 0;
    padding: 0;
    background-color: #653b83;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
  }
  
  .error-message {
    text-align: left;
  }
  
  .error-code {
    font-size: 72px;
    font-weight: bold;
  }
  
  .error-description {
    font-size: 24px;
  }
  
  .error-image {
    background-image: url(./img/gato.gif);
    margin-left: 70px;
  }