@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background:linear-gradient(#ff82f3, #5f0378);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
  }
  
  .error-message {
    text-align: left;
  }
  
  .error-code {
    font-size: 72px;
    font-weight:bolder;
  }
  
  .error-description {
    font-size: 29px;
    
  }
  
  .error-image {
    margin-left: 70px;
    background-image: url(./img/gato.gif);
  }

