<div class="container">
    <div class="login">
        <h2>sing in</h2>
<div class="error">
    <i class="bx bxs-message-error"></i>
    <span> login ou senha icorretos!</span>
    </div>
        <div class="input">
            <i class='bx bx-envelope'></i>
            <input type="text" name="login" id="login" value="e-mail" />
        </div>
        <div class="input">
            <i class='bx bxs-lock'></i>
            <input type="text" name="password" id="password" value="password" />
            <i class='bx bxs-low-vision'></i>
        </div>
        <div class="remember">
            <div>
                <input type="checkbox" name="remember" id="remember" />
                <a href="#">remember me</a>
            </div>
            <a href="#">forgot password?</a>
        </div>
        <button class="button"> SIGN IN</button>
        <h3> dont have a account? create</h3>

    </div>
</div>